ArtistId.xpathAbsolute = /metadata/artist/@_arid_
ArtistId.subType = text
ArtistId.A_EMPTY_NODE_EXISTS = UPDATE
ArtistId.NO_EMPTY_NODE_EXISTS = ADD
ArtistId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistId.SAME_NODE_EXISTS = DO_NOTHING

ArtistIPI.xpathAbsolute = /metadata/artist/ipi-list/ipi/text()
ArtistIPI.subType = text
ArtistISNI.xpathAbsolute = /metadata/artist/isni-list/isni/text()
ArtistISNI.subType = text

ArtistNam.xpathAbsolute = /metadata/artist[_arid_]/name/text()
ArtistNam.subType = text
ArtistSortName.xpathAbsolute = /metadata/artist[_arid_]/sort-name/text()
ArtistSortName.subType = text
ArtistName.A_EMPTY_NODE_EXISTS = UPDATE
ArtistName.NO_EMPTY_NODE_EXISTS = ADD
ArtistName.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistName.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
ArtistName.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistName.SAME_NODE_EXISTS = DO_NOTHING

ArtistAliasName.xpathAbsolute = /metadata/artist[_arid_]/alias-list/alias/text()
ArtistAliasName.subType = text
ArtistAliasAttributes.xpathAbsolute=/metadata/artist[_arid_]/alias-list/alias[text() = '_alname_']/@*
ArtistAliasAttributes.subType = attribute
ArtistAliasName.A_EMPTY_NODE_EXISTS = UPDATE
ArtistAliasName.NO_EMPTY_NODE_EXISTS = ADD
ArtistAliasName.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistAliasName.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
ArtistAliasName.NODE_WITH_SAME_CONTENT_EXISTS = ADD
ArtistAliasName.SAME_NODE_EXISTS = DO_NOTHING

ArtistAnnotation.xpathAbsolute = /metadata/artist/annotation/text/text()
ArtistAnnotation.subType = text
ArtistAnnotation.splitRegEx = \n{2,}|-{2,}
ArtistAnnotation.A_EMPTY_NODE_EXISTS = UPDATE
ArtistAnnotation.NO_EMPTY_NODE_EXISTS = ADD
ArtistAnnotation.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistAnnotation.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
ArtistAnnotation.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistAnnotation.SAME_NODE_EXISTS = DO_NOTHING

ArtistDisambiguation.xpathAbsolute = /metadata/artist/disambiguation/text()
ArtistDisambiguation.subType = text
ArtistDisambiguation.A_EMPTY_NODE_EXISTS = UPDATE
ArtistDisambiguation.NO_EMPTY_NODE_EXISTS = ADD
ArtistDisambiguation.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistDisambiguation.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistDisambiguation.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistDisambiguation.SAME_NODE_EXISTS = DO_NOTHING

ArtistType.xpathAbsolute = /metadata/artist[_arid_]/@_artype_
ArtistType.subType = text
ArtistGender.xpathAbsolute = /metadata/artist[_arid_]/gender/text()
ArtistGender.subType = text
ArtistType.A_EMPTY_NODE_EXISTS = UPDATE
ArtistType.NO_EMPTY_NODE_EXISTS = ADD
ArtistType.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ArtistType.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
ArtistType.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistType.SAME_NODE_EXISTS = DO_NOTHING

ArtistLifeSpanBegin.xpathAbsolute = /metadata/artist[_arid_]/life-span/begin/text()
ArtistLifeSpanBegin.subType = text
ArtistLifeSpanEnd.xpathAbsolute = /metadata/artist[_arid_]/life-span/end/text()
ArtistLifeSpanEnd.subType = text

ArtistPeriod.A_EMPTY_NODE_EXISTS = UPDATE
ArtistPeriod.NO_EMPTY_NODE_EXISTS = ADD
ArtistPeriod.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistPeriod.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistPeriod.NODE_WITH_SAME_CONTENT_EXISTS = UPDATE
ArtistPeriod.SAME_NODE_EXISTS = DO_NOTHING

ArtistAreaBeginId.xpathAbsolute = /metadata/artist/begin-area/@_areaid_ 
ArtistAreaBeginId.subType = text
ArtistAreaEndId.xpathAbsolute = /metadata/artist/end-area/@_areaid_ 
ArtistAreaEndId.subType = text

ArtistArea.A_EMPTY_NODE_EXISTS = UPDATE
ArtistArea.NO_EMPTY_NODE_EXISTS = ADD
ArtistArea.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistArea.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistArea.NODE_WITH_SAME_CONTENT_EXISTS = ADD
ArtistArea.SAME_NODE_EXISTS = DO_NOTHING

AreaName.xpathAbsolute = /metadata/area/name/text()
AreaName.subType = text
AreaSortName.xpathAbsolute = /metadata/area/sort-name/text()
AreaSortName.subType = text
AreaType.xpathAbsolute = /metadata/area/@_areatype_
AreaType.subType = text
AreaCode1.xpathAbsolute = /metadata/area/iso-3166-1-code-list/iso-3166-1-code[1]/text()
AreaCode1.subType = text
AreaCode2.xpathAbsolute = /metadata/area/iso-3166-2-code-list/iso-3166-2-code[1]/text()
AreaCode2.subType = text
AreaRelationBackward.xpathAbsolute = /metadata/area/relation-list/relation/direction[text() = 'backward']/../target/text()
AreaRelationBackward.subType = text

ArtistUrl.xpathAbsolute = /metadata/artist/relation-list[@target-type='url']/relation/target/text()
ArtistUrl.subType = text
ArtistUrlType.xpathAbsolute = /metadata/artist/relation-list[@target-type='url']/relation/target[text() = '_url_']/../@type
ArtistUrlType.subType = text
ArtistUrl.A_EMPTY_NODE_EXISTS = UPDATE
ArtistUrl.NO_EMPTY_NODE_EXISTS = ADD
ArtistUrl.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistUrl.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
ArtistUrl.NODE_WITH_SAME_CONTENT_EXISTS = UPDATE
ArtistUrl.SAME_NODE_EXISTS = DO_NOTHING

ArtistCreditIds.xpathAbsolute = /metadata/artist/relation-list[@target-type='artist']/relation[@type='member of band' or @type='instrumental supporting musician']/target/text()
ArtistCreditIds.subType = text
ArtistCreditIds.A_EMPTY_NODE_EXISTS = UPDATE
ArtistCreditIds.NO_EMPTY_NODE_EXISTS = ADD
ArtistCreditIds.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistCreditIds.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistCreditIds.NODE_WITH_SAME_CONTENT_EXISTS = UPDATE
ArtistCreditIds.SAME_NODE_EXISTS = DO_NOTHING
ArtistCreditName.xpathAbsolute = /metadata/artist/relation-list[@target-type='artist']/relation[@type='member of band' or @type='instrumental supporting musician']/target[text() = '_acid_']/../artist[@id = '_acid_']/name/text()
ArtistCreditName.subType = text
ArtistCreditSortName.xpathAbsolute = /metadata/artist/relation-list[@target-type='artist']/relation[@type='member of band' or @type='instrumental supporting musician']/target[text() = '_acid_']/../artist[@id = '_acid_']/sort-name/text()
ArtistCreditSortName.subType = text
ArtistCreditName.A_EMPTY_NODE_EXISTS = UPDATE
ArtistCreditName.NO_EMPTY_NODE_EXISTS = ADD
ArtistCreditName.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistCreditName.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
ArtistCreditName.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistCreditName.SAME_NODE_EXISTS = DO_NOTHING
ArtistCreditType.xpathAbsolute = /metadata/artist/relation-list[@target-type='artist']/relation[@type='member of band' or @type='instrumental supporting musician']/target[text() = '_acid_']/../@type
ArtistCreditType.subType = text
ArtistCreditAttributes.xpathAbsolute = /metadata/artist/relation-list[@target-type='artist']/relation[@type='member of band' or @type='instrumental supporting musician']/target[text() = '_acid_']/../attribute-list/attribute/text()
ArtistCreditAttributes.subType = text
ArtistCreditPeriods.xpathAbsolute = /metadata/artist/relation-list[@target-type='artist']/relation[@type='member of band' or @type='instrumental supporting musician']/target[text() = '_acid_']/..
ArtistCreditPeriods.subType = node
ArtistCreditPeriods.childNodeNames = begin,end
ArtistCreditPeriods.A_EMPTY_NODE_EXISTS = UPDATE
ArtistCreditPeriods.NO_EMPTY_NODE_EXISTS = ADD
ArtistCreditPeriods.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistCreditPeriods.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
ArtistCreditPeriods.NODE_WITH_SAME_CONTENT_EXISTS = ADD
ArtistCreditPeriods.SAME_NODE_EXISTS = DO_NOTHING

ArtistCreditRole.A_EMPTY_NODE_EXISTS = UPDATE
ArtistCreditRole.NO_EMPTY_NODE_EXISTS = ADD
ArtistCreditRole.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistCreditRole.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
ArtistCreditRole.NODE_WITH_SAME_CONTENT_EXISTS = UPDATE
ArtistCreditRole.SAME_NODE_EXISTS = DO_NOTHING

ArtistTags.xpathAbsolute = /metadata/artist/tag-list/tag[@count > 0]/name/text()
ArtistTags.subType = text
ArtistTagsCount.xpathAbsolute = /metadata/artist/tag-list/tag[@count > 0]/name[text() = '_tag_']/../@count
ArtistTagsCount.subType = text
ArtistTags.A_EMPTY_NODE_EXISTS = UPDATE
ArtistTags.NO_EMPTY_NODE_EXISTS = ADD
ArtistTags.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistTags.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
ArtistTags.NODE_WITH_SAME_CONTENT_EXISTS = UPDATE
ArtistTags.SAME_NODE_EXISTS = DO_NOTHING

ArtistRating.xpathAbsolute = /metadata/artist/rating/text()
ArtistRating.subType = text
ArtistRatingVotesCount.xpathAbsolute = /metadata/artist/rating/@votes-count
ArtistRatingVotesCount.subType = text
ArtistRating.A_EMPTY_NODE_EXISTS = UPDATE
ArtistRating.NO_EMPTY_NODE_EXISTS = ADD
ArtistRating.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ArtistRating.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistRating.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistRating.SAME_NODE_EXISTS = DO_NOTHING