ArtistUniqueId.Mp3Tag = MUSICBRAINZ_ARTISTID


ArtistId.A_EMPTY_NODE_EXISTS = UPDATE
ArtistId.NO_EMPTY_NODE_EXISTS = ADD
ArtistId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ArtistId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistId.SAME_NODE_EXISTS = DO_NOTHING

ArtistIdUnId.A_EMPTY_NODE_EXISTS = UPDATE
ArtistIdUnId.NO_EMPTY_NODE_EXISTS = UPDATE
ArtistIdUnId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ArtistIdUnId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
ArtistIdUnId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistIdUnId.SAME_NODE_EXISTS = DO_NOTHING



ReleaseGroupId.A_EMPTY_NODE_EXISTS = UPDATE
ReleaseGroupId.NO_EMPTY_NODE_EXISTS = ADD
ReleaseGroupId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ReleaseGroupId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ReleaseGroupId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ReleaseGroupId.SAME_NODE_EXISTS = DO_NOTHING

ReleaseGroupIdUnId.A_EMPTY_NODE_EXISTS = UPDATE
ReleaseGroupIdUnId.NO_EMPTY_NODE_EXISTS = UPDATE
ReleaseGroupIdUnId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ReleaseGroupIdUnId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
ReleaseGroupIdUnId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ReleaseGroupIdUnId.SAME_NODE_EXISTS = DO_NOTHING


ReleaseId.A_EMPTY_NODE_EXISTS = UPDATE
ReleaseId.NO_EMPTY_NODE_EXISTS = ADD
ReleaseId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ReleaseId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ReleaseId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ReleaseId.SAME_NODE_EXISTS = DO_NOTHING

ReleaseIdUnId.A_EMPTY_NODE_EXISTS = UPDATE
ReleaseIdUnId.NO_EMPTY_NODE_EXISTS = UPDATE
ReleaseIdUnId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
ReleaseIdUnId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
ReleaseIdUnId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ReleaseIdUnId.SAME_NODE_EXISTS = DO_NOTHING


MediumDiscNo.A_EMPTY_NODE_EXISTS = UPDATE
MediumDiscNo.NO_EMPTY_NODE_EXISTS = UPDATE
MediumDiscNo.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
MediumDiscNo.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
MediumDiscNo.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
MediumDiscNo.SAME_NODE_EXISTS = DO_NOTHING


TrackId.A_EMPTY_NODE_EXISTS = UPDATE
TrackId.NO_EMPTY_NODE_EXISTS = ADD
TrackId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
TrackId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
TrackId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
TrackId.SAME_NODE_EXISTS = DO_NOTHING

TrackIdUnId.A_EMPTY_NODE_EXISTS = UPDATE
TrackIdUnId.NO_EMPTY_NODE_EXISTS = UPDATE
TrackIdUnId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = UPDATE
TrackIdUnId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = DO_NOTHING
TrackIdUnId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
TrackIdUnId.SAME_NODE_EXISTS = DO_NOTHING

TrackTag.A_EMPTY_NODE_EXISTS = UPDATE
TrackTag.NO_EMPTY_NODE_EXISTS = ADD
TrackTag.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
TrackTag.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = ADD
TrackTag.NODE_WITH_SAME_CONTENT_EXISTS = UPDATE
TrackTag.SAME_NODE_EXISTS = DO_NOTHING