ArtistId.A_EMPTY_NODE_EXISTS = UPDATE
ArtistId.NO_EMPTY_NODE_EXISTS = ADD
ArtistId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ArtistId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ArtistId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ArtistId.SAME_NODE_EXISTS = DO_NOTHING


ReleaseGroupId.A_EMPTY_NODE_EXISTS = UPDATE
ReleaseGroupId.NO_EMPTY_NODE_EXISTS = ADD
ReleaseGroupId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ReleaseGroupId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ReleaseGroupId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ReleaseGroupId.SAME_NODE_EXISTS = DO_NOTHING

ReleaseId.A_EMPTY_NODE_EXISTS = UPDATE
ReleaseId.NO_EMPTY_NODE_EXISTS = ADD
ReleaseId.NODE_WITH_SAME_ATTRIBUTE_NAME_EXISTS = ADD
ReleaseId.NODE_WITH_SAME_ATTRIBUTE_VALUE_EXISTS = UPDATE
ReleaseId.NODE_WITH_SAME_CONTENT_EXISTS = DO_NOTHING
ReleaseId.SAME_NODE_EXISTS = DO_NOTHING