discogs.com = ^http[s]?:\/\/www.discogs.com\/artist\/([a-z0-9]+)						||	Discogs		||	ONLY_UNID
allmusic.com = ^http[s]?:\/\/www.allmusic.com\/artist\/([a-z0-9]+)						||	Allmusic	||	ONLY_UNID
bbc.co.uk = mbid																		||	BBC			||	NO_ATTRIBUTES
viaf.org = ^http[s]?:\/\/viaf.org\/viaf\/([a-z0-9]+)									||	VIAF		||	NO_ATTRIBUTES
imdb.com = ^http[s]?:\/\/www.imdb.com\/name\/([a-z0-9]+)								||	IMDB		||	NO_ATTRIBUTES
www.last.fm = mbid																		||	LastFM		||	NO_ATTRIBUTES
setlist.fm = mbid																		||	SetlistFM	||	NO_ATTRIBUTES
itunes.apple.com = ^http[s]?:\/\/itunes.apple.com(?:\/[a-z]{2})?\/artist\/([a-z0-9]+)	||	AppleMusic	||	ONLY_UNID
open.spotify.com = ^http[s]?:\/\/open.spotify.com\/artist\/([a-zA-Z0-9]+)				||	Spotify		||	ONLY_UNID
wikidata.org = ^http[s]?:\/\/www.wikidata.org\/wiki\/([a-zA-Z0-9]+)						||	Wikidata	||	ONLY_UNID